<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Hurricane</title>
</head>
<body>
    <form name="file_form" method="post" action="{{ url_for('hurricane_file_form') }}">
        <div>
            <h2>File Load</h2>
        </div>
        <div>
            <input id="FileLoad" type="file" name="file_uri" />
        </div>
        <div>
            <button type="submit">Load File</button>
        </div>
    </form>
    <br />
    <form name="function_form" method="post" action="{{ url_for('hurricane_function_form') }}">
        <div>
            <button type="submit">Run Function!</button>
        </div>
    </form>

    <a href="{{ url_for('table_test') }}">Table Test</a>
</body>
</html>