{% extends "html/base.html" %}
{% block content %}
    <h1>Table Test</h1>
    <div>
        <select id="table_selector" name="catalog_names" onchange="change_table('table_selector', 'track_table')">
            {% for name in catalog_names %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
        <button type="button" onclick="save_event_to_raster()">Save To Raster Button</button>
    </div>
    <div>
        {% block content %}
        <h1>{{name}}</h1>
        {{data | safe}}
        {% endblock %}
    </div>
    <div>
        <a href="{{ url_for('leaflet_redirect') }}">To Map</a>
    </div>

    <script type=text/javascript src="{{ url_for('hurricane_tables_js') }}"></script>
    <script type=text/javascript>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
{% endblock  %}