{% extends "html/base.html" %}
{% block content %}
    <form name="file_form" method="POST" action="{{ url_for('hurricane_file_form') }}" enctype = "multipart/form-data">
        <div>
            <h2>File Load</h2>
        </div>
        <div>
            <input id="FileLoad" type="file" name="hurdat_file" />
        </div>
        <div>
            <button type="submit">Load File</button>
        </div>
    </form>
    <br />
    <form name="function_form" method="post"  action="{{ url_for('hurricane_function_form') }}">
        <div>
            <button type="submit">Run Function!</button>
        </div>
    </form>

    <a href="{{ url_for('table_test') }}">Table Test</a>
{% endblock  %}