{% extends "html/base.html" %}
{% block content %}
    <h1>Leaflet Test</h1>
    <div id="controls">
        <button type="button" onclick="place_last_marker_test()">Add maker at last point</button>
        <br />
        <button type="button" onclick="clear_map()">Clear map</button>
        <br />
        <input type="checkbox" name="add_marker_CBX" id="add_marker_CBX" onclick="alert_state()"/><label for="add_marker_CBX">Add Marker</label>
        <br />
        <button type="button" onclick="geojson_test()">GeoJson Test</button>
        <button type="button" onclick="geojson_points_test()">GeoJson Points Test</button>
        <button type="button" onclick="geojson_asteroid_points_test()">Asteroid Test</button>
        <button type="button" onclick="geojson_asteroid_points_test_style()">Asteroid Test Style</button>
        <button type="button" onclick="geojson_hurdat_track()">Hurdat Track Test Style</button>
        <button type="button" onclick="geojson_hurdat_event()">Hurdat Event Test Style Leaflet</button>
        <button type="button" onclick="hurdat_event_canvas()">Hurdat Event Test Style Canvas</button>
        <button type="button" onclick="hurdat_event_d3()">Hurdat Event Test Style D3</button>
    </div>

    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="mapid" style="height: 80vh"></div>

    <link rel="stylesheet" href="../static/leaflet/leaflet.css" />
    <script type=text/javascript src="../static/leaflet/leaflet.js"></script>
    <script type=text/javascript src="../static/leaflet/L.CanvasLayer.js"></script>
    <script type=text/javascript src="{{ url_for('leaflet_test_js') }}"></script>
    <script type=text/javascript>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script>
        leaflet_init();
    </script>
{% endblock  %}