<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Leaflet Test</title>
    <link rel="stylesheet" href="../static/leaflet/leaflet.css" />
    <script type=text/javascript src="../static/leaflet/leaflet.js"></script>
    <script type=text/javascript src="{{ url_for('leaflet_test_js') }}"></script>
    <script type=text/javascript src="../static/JQuery/jquery-3.0.0.js"></script>
    <script type=text/javascript>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>
<body onload="leaflet_init()">
    <h1>Leaflet Test</h1>
    <div id="controls">
        <button type="button" onclick="place_last_marker_test()">Add maker at last point</button>
        <br />
        <button type="button" onclick="clear_map()">Clear map</button>
        <br />
        <input type="checkbox" name="add_marker_CBX" id="add_marker_CBX" onclick="alert_state()"/><label for="add_marker">Add Marker</label>
        <br />
        <button type="button" onclick="geojson_test()">GeoJson Test</button>
        <button type="button" onclick="geojson_points_test()">GeoJson Points Test</button>
        <button type="button" onclick="geojson_asteroid_points_test()">Asteroid Test</button>
    </div>
    <div id="mapid" style="height: 500px"></div>
</body>
</html>